@model IEnumerable<Fedco.PHED.Agent.management.Web.Models.AgentModel>
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_ApprovarLayout.cshtml";
}


<div>

  <table class="table table-striped table-bordered" style="width:100%" id="agentTable">
    <thead>
        <tr>
            <th style="width:68px">
                Agent Code
            </th>
            <th style="width:75px">
                Agent Name
            </th>
            <th>
                Registartion Number
            </th>

            <th>
                Balance
            </th>
            <th style="width:48px">
                Commission
            </th>
            <th>
                Security Deposit
            </th>
            <th>
                Supporting Document
            </th>
            <th>
                Transfer Access
            </th>
            <th>
                Reversal Access
            </th>
            <th>
                Approve Status
            </th>

        </tr>
    </thead>
    <tbody>
      @foreach (var item in ViewBag.agents)
      {
        <tr>
            <td>
                @item.AgentCode
                <input type="hidden" id="hiddenAgentId" value="@item.AgentId" />
            </td>
            <td>
                @item.AgentName
            </td>
            <td>
                @item.RegistartionNumber
            </td>
            <td>
                @Math.Round(item.Balance, 2)
            </td>

            <td>
                @item.Commission
            </td>
            <td>
                @item.SecurityDeposit
            </td>
            <td>
                @if (@item.fileDisplay != "")
        {
            @Html.ActionLink((string)@item.fileDisplay, "Download", "Admin", new { fileName = item.filePath }, new { @class = "cerp_btn_download" })
}
else
{
        <span></span>
}
            </td>
            <td>
               
                <label class="switch">

                    <input type="checkbox" class="isTransferActive" agentid=@item.AgentId checked=@(item.isTransferApproved ==1 ? true:false) />

                    <div class="slider round">
                    </div>
                </label>
            </td>
            <td>
                <label class="switch">

                    <input type="checkbox" class="isReversalActive" agentid=@item.AgentId checked=@(item.isReversalApproved==1 ? true:false) />

                    <div class="slider round">
                    </div>
                </label>
            </td>
            <td>
                @if (item.ApprovalStatus == "APPROVED" || item.ApprovalStatus == "REJECTED")
        {
            @item.ApprovalStatus
}
else
{
        @Html.ActionLink("Approve", "Approve", "Admin", new { AgentId = item.AgentId, isApproveAccess = 1, isApproveTransfer = item.isTransferApproved, isApproveReversal = item.isReversalApproved }, new { @class = "btn btn-primary btn-approveaccess" })

        @Html.ActionLink("Reject", "Reject", "Admin", new { AgentId = item.AgentId, isApproveAccess = 0, isApproveTransfer = 0, isApproveReversal = 0 }, new { @class = "btn btn-primary btn-rejectaccess" })
}

            </td>
        </tr>
      }
    </tbody>
  </table>
</div>
<div id="dialog-Approval" style="display: none" class="popupCApprovalArea">
 
  <div class="popupContentArea">
    <table class="table" id="transactionsTable">
      <thead>
          <tr>
              <th>Id</th>
              <th>
                  Transaction Amount
              </th>
              <th>
                  Commission
              </th>
              <th>
                  Commission Percentage
              </th>
              <th>
                 Reason
              </th>
              <th>
              </th>
          </tr>
      </thead>
      <tbody class="tboadytransactions"></tbody>
    </table>
    <br />
   
  </div>

</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/buttons.bootstrap4.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/pdfmake.min.js"></script>
<script src="~/Scripts/vfs_fonts.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
<script src="~/Scripts/buttons.print.min.js"></script>

<link rel="stylesheet" href="~/Content/dataTables.bootstrap4.min.css" />
<script type="text/javascript">
  $(function () {
    $.noConflict();
    var table = $('#agentTable').DataTable({
      lengthChange: false,
      buttons: ['excel', 'pdf']
    });

    table.buttons().container()
      .appendTo('#agentTable_wrapper .col-md-6:eq(0)');
  });
 
  
        $(".btn-approveaccess").on("click", function () {
            if (confirm("Are you sure, you want to approve with/without Transfer and Reversal Access?")) {
                return true;
            } else {
                return false;
            }
        });
        $(".btn-rejectaccess").on("click", function () {

            if (confirm("Are you sure, you want to reject request?")) {
                return true;
            } else {
                return false;
            }
        });
   
  $(".btnApproveTransaction").on("click", function () {
    if (confirm("Are you sure you want to approve transaction amount?")) {
      var transactionId = $(this).closest("tr").find("td").eq(0).html();
      $('.tboadytransactions .trtrns').remove();
    $.get('@Url.Action("ApproveTransaction", "Admin", null, Request.Url.Scheme)' + '?Id=' + transactionId + '&isApproveAccess=1&agentId=' + agentid, function (data) {
      if (data != null && data.length > 0) {
       
        $.each(data, function () {
          $('.tboadytransactions .dataTables_empty').remove();
                  // $("#tboadytransactions").append("<option value = " + this.Id + ">" + this.Name + "</option>");
         // $(".tboadytransactions").append("<tr class='trtrns'><td>" + this.Id + "</td><td>" + this.TransactionAmount + "</td><td>" + this.CommissionAmount + "</td><td>" + this.CommissionAmount + "</td><td><a class='btn btn-primary btnApproveTransaction' href='/Admin/ApproveTransaction?Id=" + this.Id + "&isApproveAccess=1'>Approve</a><span style='width:10px'></span><a class='btn btn-primary' href='/Admin/ApproveTransaction?Id=" + this.Id +"&isApproveAccess=0'>Reject</a></td></tr>");
          $(".tboadytransactions").append("<tr class='trtrns'><td>" + this.Id + "</td><td>" + this.TransactionAmount + "</td><td>" + this.CommissionAmount + "</td><td>" + this.CommissionAmount + "</td><td>"+this.Reason+"</td><td><a class='btn btn-primary btnApproveTransaction'>Approve</a><span style='width:10px'></span><a class='btn btn-primary btnTransactionReject'>Reject</a></td></tr>");
                });
            }
        }).fail(function () {
          

        });
    }
    else {
      return false;
    }
  

  });

  $(".btnTransactionReject").on("click", function () {
    if (confirm("Are you sure you want to reject transaction amount?")) {
      var transactionId = $(this).closest("tr").find("td").eq(0).html();
      $('.tboadytransactions .trtrns').remove();
    $.get('@Url.Action("ApproveTransaction", "Admin", null, Request.Url.Scheme)' + '?Id=' + transactionId + '&isApproveAccess=0&agentId=' + agentid, function (data) {
      if (data != null && data.length > 0) {
      
        $.each(data, function () {
          $('.tboadytransactions .dataTables_empty').remove();
                  // $("#tboadytransactions").append("<option value = " + this.Id + ">" + this.Name + "</option>");
         // $(".tboadytransactions").append("<tr class='trtrns'><td>" + this.Id + "</td><td>" + this.TransactionAmount + "</td><td>" + this.CommissionAmount + "</td><td>" + this.CommissionAmount + "</td><td><a class='btn btn-primary btnApproveTransaction' href='/Admin/ApproveTransaction?Id=" + this.Id + "&isApproveAccess=1'>Approve</a><span style='width:10px'></span><a class='btn btn-primary' href='/Admin/ApproveTransaction?Id=" + this.Id +"&isApproveAccess=0'>Reject</a></td></tr>");
          $(".tboadytransactions").append("<tr class='trtrns'><td>" + this.Id + "</td><td>" + this.TransactionAmount + "</td><td>" + this.CommissionAmount + "</td><td>" + this.CommissionAmount + "</td><td><a class='btn btn-primary btnApproveTransaction'>Approve</a><span style='width:10px'></span><a class='btn btn-primary btnTransactionReject'>Reject</a></td></tr>");
                });
            }
        }).fail(function () {
          

        });
    }
    else {
      return false;
    }
  

  });
  var agentid = 0;
  $(".link_anchor").click(function (e) {
     agentid = $(this).closest("tr").find("td").eq(0).find("#hiddenAgentId")[0].value;
    // $('#dialog-Approval').dialog('open');
    $("#dialog-Approval").dialog({
      resizable: false,
      width: 800,
      height: 600,
      modal: true,
      open: function (event, ui) {
        $('.ui-widget-overlay').css('position', 'fixed');
     
       
      },
      close: function () {
        $('.ui-widget-overlay').css('position', 'absolute');
      }
    });

    
   
    $.get('@Url.Action("GetApprovalList", "Admin", null, Request.Url.Scheme)' + '?agentid=' + agentid, function (data) {
    
      if (data != null && data.length > 0) {
   
        $('.tboadytransactions .trtrns').remove();
        $.each(data, function () {
          $('.tboadytransactions .dataTables_empty').remove();
          // $("#tboadytransactions").append("<option value = " + this.Id + ">" + this.Name + "</option>");
        //  $(".tboadytransactions").append("<tr class='trtrns'><td>" + this.Id + "</td><td>" + this.TransactionAmount + "</td><td>" + this.CommissionAmount + "</td><td>" + this.CommissionAmount + "</td><td><a class='btn btn-primary btnApproveTransaction' href='/Admin/ApproveTransaction?Id=" + this.Id + "&isApproveAccess=1&agentId=" + agentid + "'>Approve</a><span style='width:10px'></span><a class='btn btn-primary' href='/Admin/ApproveTransaction?Id=" + this.Id + "&isApproveAccess=0&agentId=" + agentid + "'>Reject</a></td></tr>");
          $(".tboadytransactions").append("<tr class='trtrns'><td>" + this.Id + "</td><td>" + this.TransactionAmount + "</td><td>" + this.CommissionAmount + "</td><td>" + this.Commission + "</td><td><a class='btn  btn-primary btnApproveTransaction' href='#'>Approve</a><span style='width:10px'></span><a class='btn btn-primary btnTransactionReject' href='#'>Reject</a></td></tr>");
                });
            }
        }).fail(function () {
          

        });
  });
</script>

