@model Fedco.PHED.Agent.management.Web.ViewModels.CheckUsernameViewModel
@using Recaptcha;
@{
    /**/

    ViewBag.Title = "PHED - Reset Password";
    Layout = "~/Views/Shared/_anonymusLayout.cshtml";
}
<style id="antiClickjack">
    body {
        display: none !important;
    }
</style>

@Styles.Render("~/Content/themes/base/css", "~/Content/css")
@Scripts.Render("~/bundles/jquery", "~/bundles/modernizr", "~/bundles/jqueryui", "~/bundles/sitejs")
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm())
{
    <div class="row">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h3 style="text-align:center"><strong>PHED Agent Management System</strong></h3>
            <br />

            <p style="text-align:center">
                Please enter your username below and we'll send you an email with a link to reset
                your password
            </p>
            <br />
            <br />
            @if (ViewBag.ErrorMessage != null)
            {
                @:<div class="col-md-offset-4 col-md-4 text-center alert alert-danger">
                    @:<p>@ViewBag.ErrorMessage</p>
                    @: </div>
            }
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-offset-4 col-md-4">




                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "User Name", @type = "name", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(model => model.UserName)

                <br />
                <br />
            </div>


            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <input type="submit" value="Submit" class='btn btn-primary btn-block ' />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-4 col-md-4 text-center">
                @Html.ActionLink("Cancel", "Index", "Login")

            </div>
        </div>


    </div>


}
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
